.git
.gitignore
.dockerignore

node_modules
**/node_modules

.next
apps/web/.next
coverage

.env
.env.*
!.env.example

PROJECT_CONTEXT.md
style.png

storage
temp
apps/crawler/temp
apps/web/.next

*.log
*.tsbuildinfo
